@{
    ViewData["Title"] = "About";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Author</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .text-black {
            color: black !important;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h1 class="text-black">@ViewData["Title"]</h1>
            </div>
            <div class="card-body text-black">
                <div class="row">
                    <div class="col-md-8">
                        <h2>Prince Okumo</h2>
                        <p><strong>SW Engineer, MSc</strong></p>
                        <p>Espoo</p>
                        <p>Email: <a href="mailto:okumop@yahoo.com">okumop@yahoo.com</a></p>
                        <p>Website: <a href="http://www.princeokumo.com" target="_blank">www.princeokumo.com</a></p>

                        <hr />

                        <h3>Qualification Summary</h3>
                        <p>Passionate about software and programming, aspiring to advance in the Software Engineering industry or related fields. I possess an exceptional aptitude for rapid skill acquisition, demonstrating a remarkable ability to quickly grasp and assimilate new knowledge and techniques. My experience spans various domains, including software development and embedded systems, enabling effective contributions to diverse projects.</p>

                        <hr />

                        <h3>Key Skills</h3>
                        <ul>
                            <li>
                                <strong>Software Development</strong>
                                <ul>
                                    <li>Languages: C/C++, C#/.NET, Python, JavaScript/TypeScript</li>
                                    <li>Practices: Unit testing</li>
                                </ul>
                            </li>
                            <li>
                                <strong>Operating Systems</strong>
                                <ul>
                                    <li>Linux Distributions: Ubuntu, Debian, CentOS</li>
                                    <li>Scripting: Bash scripting for automation</li>
                                </ul>
                            </li>
                            <li>
                                <strong>Test Automation</strong>
                                <ul>
                                    <li>Tools: Robot Framework, Selenium, Cypress, Appium, Locust</li>
                                </ul>
                            </li>
                            <li>
                                <strong>DevOps Practices</strong>
                                <ul>
                                    <li>Cloud Platforms: AWS, Azure, Google Cloud</li>
                                    <li>Infrastructure as Code: Terraform, Helm</li>
                                    <li>CI/CD Tools: Jenkins, Docker, Kubernetes, Ansible, FluxCD, ArgoCD</li>
                                    <li>API Development: RESTful APIs</li>
                                </ul>
                            </li>
                            <li>
                                <strong>Networking</strong>
                                <ul>
                                    <li>Protocols: TCP/IP, UDP</li>
                                </ul>
                            </li>
                            <li>
                                <strong>Version Control & Methodologies</strong>
                                <ul>
                                    <li>Tools: Git, Bitbucket</li>
                                    <li>Methodologies: Agile practices</li>
                                </ul>
                            </li>
                            <li>
                                <strong>Frameworks</strong>
                                <ul>
                                    <li>Development: Qt Framework, WPF</li>
                                </ul>
                            </li>
                            <li>
                                <strong>Database Management</strong>
                                <ul>
                                    <li>SQL, PostgreSQL, DynamoDB</li>
                                </ul>
                            </li>
                        </ul>

                        <hr />

                        <h3>Relevant Professional Experience</h3>
                        <h4>Software Engineer</h4>
                        <p><strong>Nroc Security Oy</strong></p>
                        <p><em>Espoo, Finland | April 2024 – Present</em></p>
                        <ul>
                            <li>Utilized a range of AWS tools (EC2, EKS, S3, Lambda, CloudFront, API Gateway, CloudWatch, CodeBuild, Route 53, Load Balancers, and CodePipeline) to provision and manage scalable infrastructure effectively.</li>
                            <li>Integrated Splunk for enhanced logging and monitoring, improving visibility into system performance and operational metrics.</li>
                            <li>Automated infrastructure deployment, improving scalability by 30% and security measures by 25%.</li>
                            <li>Streamlined customer onboarding processes, reducing time by 40% and increasing efficiency by 20%.</li>
                            <li>Centralized Docker image management using Amazon ECR, enhancing deployment consistency.</li>
                            <li>Set up and maintained monitoring tools with Prometheus and Grafana using Helm charts.</li>
                        </ul>
                        <p><strong>Skills:</strong> Kubernetes, DevOps, AWS, Terraform, Linux, CI/CD, Docker, Python, PostgreSQL</p>

                        <h4>Software Engineer</h4>
                        <p><strong>Aito Interactive Oy</strong></p>
                        <p><em>Espoo, Finland | April 2023 – April 2024</em></p>
                        <ul>
                            <li>Drafted comprehensive requirements and test cases to align project goals.</li>
                            <li>Developed and optimized APIs in C/C++, reducing runtime by 80%.</li>
                            <li>Managed Embedded Systems Yocto project environments for streamlined development.</li>
                            <li>Debugged software issues, enhancing stability and performance.</li>
                            <li>Created supporting/testing tools in Python and Qt6 for embedded systems.</li>
                            <li>Authored release notes and established release processes.</li>
                            <li>Conducted code reviews and managed GIT administration.</li>
                        </ul>
                        <p><strong>Skills:</strong> OOP, C/C++, C#, Python, Software Development, Agile, Jira, Bitbucket, CI/CD</p>

                        <h4>Software Engineer in Test</h4>
                        <p><strong>Nokia</strong></p>
                        <p><em>Espoo, Finland | Dec 2021 – April 2023</em></p>
                        <ul>
                            <li>Planned and executed test cases for 5G RAN features.</li>
                            <li>Configured 5G base stations and tested mmWave performance in lab and field environments.</li>
                            <li>Automated critical testing processes with Python and Robot Framework.</li>
                            <li>Migrated base station operating systems from Windows to Linux.</li>
                        </ul>
                        <p><strong>Skills:</strong> Test Automation, TCP/IP, 5G New Radio (NR), Python</p>

                        <h4>Embedded System Engineer</h4>
                        <p><strong>Ericsson</strong></p>
                        <p><em>Tallinn, Estonia | Jun 2019 – Oct 2020</em></p>
                        <ul>
                            <li>Identified and repaired defective chipsets, ensuring product reliability.</li>
                            <li>Implemented updates to enhance functionality and resolve vulnerabilities.</li>
                            <li>Proficiently used electronic and embedded circuit instruments.</li>
                        </ul>
                        <p><strong>Skills:</strong> Electronics, Python, Oscilloscope, Spectrum Analyzer, Signal Generators, C#</p>

                        <h4>Software Quality Assurance</h4>
                        <p><strong>Sportradar</strong></p>
                        <p><em>Tallinn, Estonia | Oct 2017 – Jun 2022</em></p>
                        <ul>
                            <li>Focused on software quality assurance and data log analysis.</li>
                            <li>Monitored and reported data inconsistencies.</li>
                            <li>Established communication channels for customer feedback.</li>
                        </ul>

                        <hr />

                        <h3>Education</h3>
                        <p><strong>Aalto University</strong></p>
                        <p>Master’s Degree in Communication Engineering (4.11 GPA)</p>
                        <p><em>Espoo, Finland</em></p>

                        <p><strong>Tallinn University of Technology</strong></p>
                        <p>Bachelor’s Degree in Integrated Engineering (4.55 GPA)</p>
                        <p><em>Tallinn, Estonia</em></p>

                        <p><strong>Kwame Nkrumah University of Science and Technology</strong></p>
                        <p>Bachelor’s Degree in Physics (Electronics)</p>
                        <p><em>Ghana</em></p>

                        <hr />

                        <h3>Projects</h3>
                        <ul>
                            <li>Developed management systems using the .NET/C# framework, optimizing business processes.</li>
                            <li>Designed cloud software architecture solutions with AWS and Azure for scalability.</li>
                            <li>Provided consulting on cloud adoption strategies and infrastructure optimization.</li>
                        </ul>

                        <hr />

                        <h3>References</h3>
                        <p><strong>Jari Sahinoja</strong></p>
                        <p>Nokia Oy</p>
                        <p>Email: <a href="mailto:jari.sahinoja@nokia.com">jari.sahinoja@nokia.com</a></p>

                        <p><strong>Prosper Evergreen</strong></p>
                        <p>SOK Group Oy</p>
                        <p>Email: <a href="mailto:prosper.evergreen@sok.fi">prosper.evergreen@sok.fi</a></p>
                    </div>
                    <div class="col-md-4">
                        <div class="image-container" style="text-align:center; margin-top:20px;">
                            <h2>Author</h2>
                            <img src="~/images/pic.jpeg" alt="Prince Okumo" class="img-fluid rounded" style="max-width: 100%; height: auto;" />
                            <p style="text-align:center; font-weight:bold; margin-top:10px;">Prince Okumo</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>