@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
    <style>
        .card {
            height: 100%; 
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

            .card img {
                max-width: 80%;
                height: auto;
            }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 text-center mb-4">
                <h1>Hi! Welcome to my Website</h1>
                <p class="lead">Showcasing skills and projects in software engineering</p>
            </div>
        </div>
        <div class="row">
            <!-- LinkedIn Card -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header text-center">
                        <h2>Visit My LinkedIn</h2>
                    </div>
                    <a href="https://www.linkedin.com/in/prince-okumo" target="_blank" class="clickable-card">
                        <div class="card-body text-center">
                            <img src="~/images/mepic.jpg" alt="LinkedIn Logo" class="img-fluid rounded" />
                            <p class="font-weight-bold mt-3">Connect with me on LinkedIn!</p>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Podcast Card -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header text-center">
                        <h2>Podcast of Today</h2>
                    </div>
                    <div class="card-body text-center">
                        <iframe width=470 height=450
                                src="https://www.youtube.com/embed/4MEgCP7h8UU"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>

            <!-- Current Project Card -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header text-center">
                        <h2>Current Project</h2>
                    </div>
                    <a href="https://github.com/prince-espiot/Smart_Aws_Infra" target="_blank" class="clickable-card">
                        <div class="card-body text-center">
                            <img src="~/images/smartinfra.gif" alt="Current Project" class="img-fluid rounded" />
                            <p class="font-weight-bold mt-3">AWS automated deployment of a Kubernetes cluster</p>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Additional Card Example -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header text-center">
                        <h2>Contact Me</h2>
                    </div>
                    <div class="card-body text-center">
                        <p class="font-weight-bold mt-3">Want to discuss opportunities or projects?</p>
                        <p>Telephone: +358 407590434</p>
                        <p>Email: okumop@yahoo.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
