@{
    ViewData["Title"] = "Privacy Policy";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="card-body">
                <p>This website is meant to showcase and culminate the years of skills I have obtained over the years.</p>
                <p>Resources and code snippets are available for free to help you get started with your own projects.</p>
                <p>Please do not use any of the code snippets on this website for any commercial purposes without my permission.</p>
                <p>Thank you for visiting my website.</p>
                <p>GitHub: <a href="https://github.com/prince-espiot" target="_blank">prince-espiot</a></p>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>