@{
    ViewData["Title"] = "My CV";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }

        .iframe-container {
            position: relative;
            width: 100%;
            padding-bottom: 90%; /* 16:9 Aspect Ratio */
            height: 0;
            overflow: hidden;
        }

            .iframe-container iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

        .download-link {
            text-decoration: underline; /* Underlines the text */
            color: blue; /* Sets the color to blue */
            cursor: pointer; /* Changes the cursor to indicate interactivity */
        }

            .download-link:hover {
                color: darkblue; /* Changes color on hover for better feedback */
            }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 text-center mb-4">
                <h1>@ViewData["Title"]</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 document-container">
                <div class="card text-center mb-4 clickable-card" onclick="window.location.href='/DownloadDocuments/ClickableDownloadCV'">
                    <div class="card-header">
                        <h2 class="download-link">Download Document</h2>
                    </div>

                    <div class="card-body">
                        <div class="iframe-container">
                            <iframe src="https://1drv.ms/w/s!Al58HCYfyWDWh5Ys_Qe6iDfBgyI6lA?embed=1&amp;em=2"
                                    frameborder="0"
                            width="100%"
                            height="600px">
                                This is an embedded
                                <a target="_blank" href="https://office.com">Microsoft Office</a> document, powered by
                                <a target="_blank" href="https://office.com/webapps">Office</a>.
                            </iframe>
                        </div>
                    </div>
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
